body {
    background: url('../images/background.png') repeat-y center;
    background-size: cover;
}

#display {
    border-radius: 10px;
    margin: auto;
    width: 320px;
    height: 170px;
    background-color: rgba(226, 226, 226, 0.863);
    text-align: center;
    padding: 2px;
}

#display p {
    font-size: 5em;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0;
}

#buttons {
    padding-top: 10px;
    width: 200px;
    height: 50px;
    margin: auto;
    text-align: center;
}

#buttons button {
   margin-right: 6px;
   margin-left: 15px;
}

#session-time {
    width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

#work {
    display: inline-block;
    margin-right: 20px;

}

#break {
    display: inline-block;
    margin-left: 20px;
}

#buttons button {
    width: 60px;
}

img {
    width: 40px;
    opacity: 0.75;
}

img:hover {
    opacity: 1;
}

.up {
    width: 40px;
    height: 40px;
    border: none;
    background: url('../images/up-arrow.png') no-repeat center;
    background-size: 40px;
    opacity: 0.75;
}

.up:hover {
    opacity: 1;
}

.down {
    width: 40px;
    height: 40px;
    border: none;
    background: url('../images/down-arrow.png') no-repeat center;
    background-size: 40px;
    opacity: 0.75;
}

.down:hover {
    opacity: 1;
}

#session-time p {
    color: white;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 2em;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0;
}

#session-time h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0;
}

#session-tracker {
    text-align: center;
    margin: auto;
    width: 500px;
    height: 160px;
    background-color: white;
    padding: 10px;
}

#session-tracker p {
    font-size: 1.2em;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
}

#work {
    padding: 6px 8px 2px 8px;
}

#break {
    padding: 6px 8px 2px 8px;
}
