body {
    background: url('../images/background.png') repeat-y center;
    background-size: cover;
}

.work-bg {
    background: url('../images/background-working.png') repeat-y center;
    background-size: cover;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

.break-bg {
    background: url('../images/background-break.png') repeat-y center;
    background-size: cover;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

button:active {
    outline: none;
}

#display {
    border-radius: 10px;
    border: 4px black solid;
    margin: auto;
    width: 60%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 2px;
}

#display p {
    font-size: 6em;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0;
}

#buttons {
    padding-top: 10px;
    width: 320px;
    height: 50px;
    margin: auto;
    text-align: center;
}

#session-time {
    width: 300px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}

#work {
    display: inline-block;
    margin-right: 20px;

}

#break {
    display: inline-block;
    margin-left: 20px;
}

img {
    width: 40px;
    opacity: 0.75;
}

img:hover {
    opacity: 1;
}

.up {
    width: 40px;
    height: 40px;
    border: none;
    background: url('../images/up-arrow.png') no-repeat center;
    background-size: 40px;
    opacity: 0.75;
}

.up:hover {
    opacity: 1;
}

.down {
    width: 40px;
    height: 40px;
    border: none;
    background: url('../images/down-arrow.png') no-repeat center;
    background-size: 40px;
    opacity: 0.75;
}

.down:hover {
    opacity: 1;
}

#session-time p {
    color: white;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 2em;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0;
}

#session-time h2 {
    color: white;
    margin-top: 20px;
    margin-bottom: 22px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0;
}

#session-tracker {
    overflow: hidden;
    text-align: center;
    margin: auto;
    width: 70%;
    max-width: 500px;
    height: 160px;
    background-color: rgb(85, 85, 85);
    color: white;
    padding: 10px;
    margin-top: 70px;
}

#stats-top {
    background-color: rgb(24, 24, 24);
    width: 110%;
    max-width: 520px;
    height: 45px;
    margin-left: -10px;
    margin-top: -10px;
}

#session-tracker #stats-top p {
    margin-top: 0;
    text-align: left;
    line-height: 2;
    margin-left: 40px;
    font-size: 1.4em;
    font-weight: 400;
}

#session-tracker p {
    font-size: 1.2em;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
}

#work {
    padding: 6px 8px 2px 8px;
}

#break {
    padding: 6px 8px 2px 8px;
}

#buttons #play-pause {
    display: block;
    width: 300px;
    height: 45px;
    margin: auto;
    background-color: rgb(234, 0, 0);
    color: white;
    text-shadow: 1px 1px 2px rgb(107, 0, 0);
    border-radius: 5px 5px 30px 30px;
    border: none;
    border-bottom: 2px rgb(107, 0, 0) solid;
    border-left: 2px rgb(107, 0, 0) solid;
    border-right: 2px rgb(107, 0, 0) solid;
    border-top: 2px rgb(243, 46, 46) solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
}

#buttons #play-pause:active {
    border-top: 2px rgb(107, 0, 0) solid;
    border-right: 2px rgb(107, 0, 0) solid;
    border-left: 2px rgb(107, 0, 0) solid;
    border-bottom: 2px rgb(243, 46, 46) solid;
}

#buttons #reset {
    margin-top: 6px;
    background-color: rgb(234, 0, 0);
    width: 200px;
    height: 35px;
    color: white;
    text-shadow: 1px 1px 2px rgb(107, 0, 0);
    border: none;
    border-bottom: 2px rgb(107, 0, 0) solid;
    border-left: 2px rgb(107, 0, 0) solid;
    border-right: 2px rgb(107, 0, 0) solid;
    border-top: 2px rgb(243, 46, 46) solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    border-radius: 4px;
}

#buttons #reset:active {
    border-top: 2px rgb(107, 0, 0) solid;
    border-right: 2px rgb(107, 0, 0) solid;
    border-left: 2px rgb(107, 0, 0) solid;
    border-bottom: 2px rgb(243, 46, 46) solid;
}

.work-active {
    color: rgb(0, 124, 0);
}

.break-active {
    color: rgb(65, 147, 255);
}
